.section {
  padding: 47px 0;

  &__title {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    line-height: 1;
    margin-bottom: 10px;
  }
  &__subtitle {
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: var(--h2-font-size);
    font-weight: 100;
    white-space: nowrap;

    img {
      display: block;
      margin-left: 30px;
    }
  }
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  color: var(--first-color);
  font-size: var(--button-font-size);
  font-weight: 700;
  padding: 17px 38px;
  background: var(--first-color-light);
  border-radius: 40px;
  transition: 0.3s;
  outline: none;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}
