@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --first-color: #302c42;
  --first-color-light: background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
  --first-color-dark: background: radial-gradient(2900.76% 50.13% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
  --title-color: #fff;
  --text-color: #fff;
  --body-font: "Montserrat", sans-serif;
  --biggest-font-size: 46px;
  --h2-font-size: 36px;
  --h3-font-size: 24px;
  --button-font-size: 12px;
  --text-size: 16px;
}
